{% extends 'base.html' %}

{% load i18n %}
{% block content %}
{% autoescape off %}
<div class="d-flex flex-column flex-grow-1 align-items-center">
    <div class="m-4 p-4 d-flex flex-column bg-dark border border-light border-2 rounded text-white shadow"
        style="min-width: 40%; max-width: 80%;">
        <h3>{% trans 'Create status' %}</h3>
        <form action="{% url 'statuses_create' %}" method="post" class="d-flex flex-column my-1">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }} {{ field }}
            {% endfor %}
            <input type="submit" value="{% trans 'Create' %}" class="my-3 align-items-start btn btn-warning" style="width: 20%;">
        </form>
    </div>
</div>
{% endautoescape %}
{% endblock %}