{% extends 'base.html' %}

{% load i18n %}
{% block content %}
{% autoescape off %}
<div class="d-flex flex-column flex-grow-1 align-items-center">
    <div class="m-4 p-4 d-flex flex-column bg-dark border border-light border-2 rounded text-white shadow"
        style="min-width: 40%; max-width: 80%;">
        <h3>{% trans 'Registration' %}</h3>
        <form action="{% url 'users_create' %}" method="post" class="d-flex flex-column my-1">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                    <p class="my-1">{{ field.errors }}</p>
                {% endif %}
            {% endfor %}
            <input type="submit" value="{% trans 'Register' %}" class="my-3 align-items-start btn btn-warning" style="min-width: 20%; max-width: 30%;">
        </form>
    </div>
</div>
{% endautoescape %}
{% endblock %}