{% extends 'base.html' %}

{% load i18n %}
{% block content %}
<div class="d-flex flex-column flex-grow-1 align-items-center">
    <div class="m-4 p-4 d-flex flex-column bg-dark border border-light border-2 rounded text-white shadow"
        style="min-width: 40%; max-width: 80%;">
        <h3>{% trans 'Log in' %}</h3>
        <form action="{% url 'login' %}?next={{ request.PATH }}" method="post" class="d-flex flex-column">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans 'Log in' %}" class="my-3 align-items-start btn btn-warning" style="width: 20%;">
        </form>
    </div>
</div>
{% endblock %}