{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="d-flex flex-column flex-grow-1 align-items-center justify-items-center">
<div class="m-4 p-4 bg-dark border border-light border-2 rounded text-white shadow" style="width: 80%;">
    <div class="d-flex flex-column justify-items-center align-items-center">
    <h3>{% trans "Tasks" %}</h3>
    <div class="align-items-center">
        <a href="{% url 'tasks_create' %}"><button type="link" class="btn btn-warning m-3 fs-6" style="width: 10vw;">{% trans "Create task" %}</button></a>
    </div>
    </div>
    <div class="container">
    <form action="{% url 'tasks_index' %}" method="get" class="d-flex flex-column mb-3">
        <div class="mb-3 w-100">
            <table class="table table-dark table-hover table-borderless table-striped">
                <tr>
                    <td class="w-25">
                        {% trans 'Status' %}
                    </td>
                    <td class="w-75">
                        {{ filter.form.status }}
                    </td>
                </tr>
                <tr>
                    <td class="w-25">
                        {% trans 'Executor' %}
                    </td>
                    <td>
                        {{ filter.form.executor }}
                    </td>
                </tr>
                <tr>
                    <td class="w-25">
                        {% trans 'Labels' %}
                    </td>
                    <td>
                        {{ filter.form.labels }}
                    </td>
                </tr>
                <tr>
                    <td class="w-25">
                        {% trans 'Only my tasks' %}
                    </td>
                    <td>
                        {{ filter.form.self_tasks }}
                    </td>
                </tr>
            </table>
        </div>
        <button type="submit" class="btn btn-warning">{% trans 'Filter' %}</button>
    </form>
    </div>
    <table class="table table-dark table-hover table-borderless table-striped align-middle" style="width: 100%;">
        <tr class="text-white">
            <th data-halign="center" style="width: 10%;">ID</th>
            <th data-halign="center" style="width: 10%;">{% trans "Task name" %}</th>
            <th data-halign="center" style="width: 30%;">{% trans "Executor" %}</th>
            <th data-halign="center" style="width: 30%;">{% trans "Creator" %}</th>
            <th data-halign="center" style="width: 10%;">{% trans "Creation date" %}</th>
            <th data-halign="center" style="width: 10%;"></th>
        </tr>
    {% for task in tasks %}
        <tr class="text-white">
            <td>{{ task.id }}</td>
            <td><a href="{% url 'tasks_show' pk=task.pk %}">{{ task.name }}</a></td>
            <td>{{ task.executor }}</td>
            <td>{{ task.creator.get_full_name }}</td>
            <td>{{ task.created_at }}</td>
            <td>
                <a href="{% url 'tasks_update' pk=task.pk %}">{% trans "Update" %}</a>
                <a href="{% url 'tasks_delete' pk=task.pk %}">{% trans "Delete" %}</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
</div>
{% endblock content %}